
.aist-residence_title {
    margin: 30px 0 0 0;
}

.aist-residence_cover {
    background-image: url(../../pics/cases-pics/aist-residence/cover.png);
}

.aist-residence_task-pic {
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/aist-residence/task.png);
}

.aist-residence_pack {
    margin: 100px 0;
    background-image: url(../../pics/cases-pics/aist-residence/work.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.aist-residence_mockup {
    width: 100%;
    min-height: 1344px;
    margin: 100px 0 0 0;
    background-image: url(../../pics/cases-pics/aist-residence/mockup.png);
}