
.desrinit_title {
    margin-top: 30px;
}

.desrinit_cover {
    background-image: url(../../pics/cases-pics/desrinit/cover.png);
}

.desrinit_task-pic {
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/desrinit/task.png);
}

.desrinit_solution-pic {
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/desrinit/solution.png);
}

.desrinit_image {
    min-height: 618px;
    margin: 150px 0;
    background-image: url(../../pics/cases-pics/desrinit/work.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.desrinit_mockup {
    width: 100%;
    min-height: 1402px;
    margin: 150px 0 50px 0;
    background-image: url(../../pics/cases-pics/desrinit/mockup.png);
}