
.desrinit_title {
    margin-top: 30px;
}

.desrinit_cover {
    width: 100%;
}

.desrinit_task-pic {
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/desrinit/task.png);
}

.desrinit_solution-pic {
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/desrinit/solution.png);
}

.desrinit_pack {
    width: 100%;
    margin: 100px 0 0 0;
}


.desrinit_mockup {
    width: 100%;
    margin: 100px 0 0 0;
}

@media screen and (max-width: 1240px) {

}

@media screen and (max-width: 800px) {
    .desrinit_task-pic {
        width: 100%;
        min-height: 300px;
    }
    
    .desrinit_solution-pic {
        width: 100%;
        min-height: 300px;
        margin-top: 100px;
    }
}