
.horoshovsky_title {
    margin-top: 30px;
}

.horoshovsky_cover {
    width: 100%;
}

.horoshovsky_task-pic {
    background-position: right;
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/horoshovsky/solution.png);
}

.horoshovsky_solution-pic {
    width: 50%;
    min-height: 245px;
    background-image: url(../../pics/cases-pics/horoshovsky/solution.png);
}

.horoshovsky_pack {
    width: 100%;
    margin: 100px 0 0 0;
}

.horoshovsky_mockup {
    width: 100%;
    margin: 100px 0 0 0;
}

@media screen and (max-width: 1240px) {

}

@media screen and (max-width: 800px) {
    .horoshovsky_task-pic {
        width: 100%;
        min-height: 300px;
    }
    
    .horoshovsky_solution-pic {
        width: 100%;
        min-height: 300px;
        margin-top: 100px;
    }

    .horoshovsky_mockup {
        min-height: 1000px;
    }
}