
.hills-all-legs_title {
    margin-top: 50px;
}

.hills-all-legs_cover {
    width: 100%;
}

.hills-all-legs_task-pic {
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/hills-all-legs/task.png);
}

.hills-all-legs_video {
    margin: 100px 0;
    min-width: 100%;
    min-height: 680px;
}

@media screen and (max-width: 1240px) {

}

@media screen and (max-width: 800px) {
    .hills-all-legs_task-pic {
        width: 100%;
        min-height: 300px;
    }
    
    .hills-all-legs_solution-pic {
        width: 100%;
        min-height: 300px;
        margin-top: 100px;
    }

    .hills-all-legs_video {
        min-height: 400px;
    }
}