
.mobiado-iphone_title {
    margin-top: 30px;
}

.mobiado-iphone_cover {
    width: 100%;
}

.mobiado-iphone_task-pic {
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/mobiado-iphone/task.png);
}

.mobiado-iphone_solution-pic {
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/mobiado-iphone/solution.png);
}

.mobiado-iphone_pack {
    width: 100%;
    margin: 100px 0 0 0;
}

@media screen and (max-width: 1240px) {

    
}

@media screen and (max-width: 800px) {
    .mobiado-iphone_task-pic {
        width: 100%;
        min-height: 300px;
    }
    
    .mobiado-iphone_solution-pic {
        width: 100%;
        min-height: 300px;
        margin-top: 100px;
    }
    
}