
.mobiado-press_title {
    margin: 30px 0 0 0;
}

.mobiado-press_cover {
    width: 100%;
}

.mobiado-press_task-pic {
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/mobiado-press/task.png);
}

.mobiado-press_solution-pic {
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/mobiado-press/solution.png);
}

.mobiado-press_pack {
    width: 100%;
    margin: 100px 0 0 0;
}

.mobiado-press_mockup {
    width: 100%;
    margin: 100px 0 0 0;
}

@media screen and (max-width: 1240px) {

}

@media screen and (max-width: 800px) {
    .mobiado-press_task-pic {
        width: 100%;
        min-height: 300px;
    }
    
    .mobiado-press_solution-pic {
        width: 100%;
        min-height: 300px;
        margin-top: 100px;
    }

    .mobiado-press_title {
        margin: 0;
    }
}