
.novo-nordisk_title {
 margin-top: 50px;
}

.novo-nordisk_cover {
    width: 100%;
}

.novo-nordisk_task-pic {
    background-position: top;
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/novo-nordisk/solution.png);
}

.novo-nordisk_pack-1 {
    width: 100%;
    margin: 100px 0 0 0;
}

.novo-nordisk_pack-2 {
    width: 100%;
    margin: 100px 0 0 0;
}

.novo-nordisk_pack-3 {
    width: 100%;
    margin: 100px 0 0 0;
}

.novo-nordisk_mockup {
    width: 100%;
    margin: 100px 0 0 0;
}

@media screen and (max-width: 1240px) {

}

@media screen and (max-width: 800px) {
    .novo-nordisk_task-pic {
        width: 100%;
        min-height: 300px;
    }
    
    .novo-nordisk_solution-pic {
        width: 100%;
        min-height: 300px;
        margin-top: 100px;
    }
}