
.novo-nordisk_title {
 margin-top: 50px;
}

.novo-nordisk_cover {
    background-image: url(../../pics/cases-pics/novo-nordisk/cover.png);
}

.novo-nordisk_task-pic {
    background-position: top;
    width: 50%;
    min-height: 145px;
    background-image: url(../../pics/cases-pics/novo-nordisk/solution.png);
}

.novo-nordisk_pack-1 {
    min-height: 448px;
    margin: 150px 0 50px 0;
    background-image: url(../../pics/cases-pics/novo-nordisk/work.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.novo-nordisk_pack-2 {
    min-height: 448px;
    margin: 50px 0 50px 0;
    background-image: url(../../pics/cases-pics/novo-nordisk/work-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.novo-nordisk_pack-3 {
    min-height: 448px;
    margin: 50px 0 150px 0;
    background-image: url(../../pics/cases-pics/novo-nordisk/work-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.novo-nordisk_mockup {
    width: 100%;
    min-height: 1344px;
    margin: 100px 0 0 0;
    background-image: url(../../pics/cases-pics/novo-nordisk/mockup.png);
}