
.tea-pack-pause_cover {
    background-image: url(../../pics/cases-pics/pause-tea-pack/cover.png);
}

.tea-pack-pause_task-pic {
    width: 50%;
    min-height: 245px;
    background-image: url(../../pics/cases-pics/pause-tea-pack/task.png);
}

.tea-pack-pause_solution-pic {
    width: 50%;
    min-height: 245px;
    background-image: url(../../pics/cases-pics/pause-tea-pack/solution.png);
}

.tea-pack-pause_pack {
    margin: 100px 0;
    background-image: url(../../pics/cases-pics/pause-tea-pack/work.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tea-pack-pause_mockup {
    width: 100%;
    min-height: 1515px;
    margin: 100px 0 0 0;
    background-image: url(../../pics/cases-pics/pause-tea-pack/mockup.png);
}

@media screen and (max-width: 1240px) {

}

@media screen and (max-width: 800px) {
    .tea-pack-pause_task-pic {
        width: 100%;
        min-height: 300px;
    }
    
    .tea-pack-pause_solution-pic {
        width: 100%;
        min-height: 300px;
        margin-top: 100px;
    }

    .tea-pack-pause_mockup {
        min-height: 1000px;
    }
}