
.tea-pack-pause_cover {
    width: 100%;
}

.tea-pack-pause_task-pic {
    width: 50%;
    min-height: 245px;
    background-image: url(../../pics/cases-pics/tea-pack-pause/task.png);
}

.tea-pack-pause_solution-pic {
    width: 50%;
    min-height: 245px;
    background-image: url(../../pics/cases-pics/tea-pack-pause/solution.png);
}

.tea-pack-pause_pack {
    width: 100%;
    margin: 100px 0 0 0;
}

.tea-pack-pause_mockup {
    width: 100%;
    margin: 100px 0 0 0;
}

@media screen and (max-width: 1240px) {

}

@media screen and (max-width: 800px) {
    .tea-pack-pause_task-pic {
        width: 100%;
        min-height: 300px;
    }
    
    .tea-pack-pause_solution-pic {
        width: 100%;
        min-height: 300px;
        margin-top: 100px;
    }

    .tea-pack-pause_pack {
        width: 80%;
    }
}