
.volost__cover {
    background-image: url(../../pics/cases-pics/stikers-volost/cover.png);
}

.volost__task-pic {
    width: 50%;
    min-height: 245px;
    background-image: url(../../pics/cases-pics/stikers-volost/task.png);
    background-position: left;
}

.volost__solution-pic {
    width: 50%;
    min-height: 245px;
    background-image: url(../../pics/cases-pics/stikers-volost/solution.png);
}

.volost__pack {
    width: 100%;
    min-height: 703px;
    margin: 0;
    background-image: url(../../pics/cases-pics/stikers-volost/work.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.volost__mockup {
    width: 100%;
    min-height: 600px;
    margin: 150px 0 50px 0;
    background-image: url(../../pics/cases-pics/stikers-volost/mockup.png);
}