.footer {
    width: 100%;
    background-color: #881EF2;
    margin: auto 0 44px 0;
    transition: .5s ease-in-out;
}

.footer__container_main {
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: 0 auto 20px auto;
    transition: .5s ease-in-out;
}

.footer__container_small {
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    margin: 0 auto;
    transition: .5s ease-in-out;
}

.footer__disclaimer {
    max-width: 100%;
    font-size: .8rem;
    font-weight: 300;
    text-align: left;
    color: #fff;
    margin: 79px 13px 0 0;
}

.footer__line_main {
    width: 1000px;
    min-height: 128px;
    background-image: url(../../pics/dog_line.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s ease-in-out;
}

.footer__line_small {
    width: 820px;
    height: 1px;
    background-color: #fff;
    margin: auto 0 27px;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 79px 0 20px 13px;
}

.footer__link {
    color: #fff;
    font-size: .8rem;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
    margin: 0 38px 0 0;
    cursor: url('../../pics/coursor_link.svg'), auto;
}

.footer__link:last-of-type {
    margin: 0;
}

@media screen and (max-width: 1240px) {
    .footer__container_main {
        width: 80%;
    }

    .footer__line_main {
        min-height: 150px;
        width: 85%;
        background-image: url(../../pics/dog_line_medium.png);
        display: flex;
        flex-direction: column;
        background-position: bottom;
    }
}

@media screen and (max-width: 800px) {
    .footer__container_main {
        width: 90%;
        margin: 0 0 20px auto;
    }

    .footer__line_main {
        min-height: 150px;
        width: 80%;
        background-image: url(../../pics/dog_line_small.png);
        display: flex;
        flex-direction: column;
        background-position: bottom;
        overflow: hidden;
    }
}