.illustration {
    overflow: hidden;
    width: 70%;
    height: 110%;
    background-image: url(../../pics/main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 101;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    margin: auto 0;
    padding: 0;
}

.illustration__small {
    z-index: 5;
    width: 55%;
    height: 100%;
    bottom: 0;
    overflow: hidden;
}